---
import placeholder from "../images/placeholder.jpeg";
import Project from "./Project.astro";
import SectionHeader from "./SectionHeader.astro";
---

<div class="flex flex-col gap-2 clear-both py-2">
  <SectionHeader
    title="My Portifolio"
    description="In this section you may check out some projects I've worked on"
  />
  <Project
    image={placeholder}
    name="Project XYZ"
    description="I'm a Fullstack .Net && NodeJS developer passionate about software development and always eager to learn new things"
  />
  <Project
    image={placeholder}
    name="Project XYZ"
    description="I'm a Fullstack .Net && NodeJS developer passionate about software development and always eager to learn new things"
  />
  <Project
    image={placeholder}
    name="Project XYZ"
    description="I'm a Fullstack .Net && NodeJS developer passionate about software development and always eager to learn new things"
  />
  <Project
    image={placeholder}
    name="Project XYZ"
    description="I'm a Fullstack .Net && NodeJS developer passionate about software development and always eager to learn new things"
  />
  <Project
    image={placeholder}
    name="Project XYZ"
    description="I'm a Fullstack .Net && NodeJS developer passionate about software development and always eager to learn new things"
  />
  <Project
    image={placeholder}
    name="Project XYZ"
    description="I'm a Fullstack .Net && NodeJS developer passionate about software development and always eager to learn new things"
  />
</div>
